#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh


if [ -f eeprom/parameters ]
then
        param load eeprom/parameters
fi
param set SYS_AUTOCONFIG 0
param select eeprom/parameters
param set CBRK_SUPPLY_CHK 894281
param set SYS_AUTOSTART 4001
param set MAV_TYPE 2

param set COM_FLTMODE1 8
param set COM_FLTMODE2 8
param set COM_FLTMODE3 8
param set COM_FLTMODE4 8
param set COM_FLTMODE5 8
param set COM_FLTMODE6 8
param set COM_RC_LOSS_T 15

# Multi-EKF
param set EKF2_MULTI_IMU 2
param set SENS_IMU_MODE 0
param set PWM_MAIN_RATE 8000

param set PWM_MAIN_MAX1 10000
param set PWM_MAIN_MAX2 10000
param set PWM_MAIN_MAX3 10000
param set PWM_MAIN_MAX4 10000


param set PWM_MAIN_MIN1 0
param set PWM_MAIN_MIN2 0
param set PWM_MAIN_MIN3 0
param set PWM_MAIN_MIN4 0


param set PWM_MAIN_DIS1 0
param set PWM_MAIN_DIS2 0
param set PWM_MAIN_DIS3 0
param set PWM_MAIN_DIS4 0

dataman start
load_mon start

spl06 -X -a 0x77 start
qmc5883l -X start
icm20602 -s start

rc_update start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
manual_control start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -d /dev/ttyS1
mavlink start -u 14556 -p

rc_input start -d /dev/ttyS2
fpga_i2c_pwm_out start
mixer load /dev/pwm_output etc/mixers/quad_x.main.mix
logger start -t -b 200

mavlink boot_complete
