#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh


if [ -f eeprom/parameters ]
then
        param load eeprom/parameters
fi
param set SYS_AUTOCONFIG 0
param select eeprom/parameters
param set CBRK_SUPPLY_CHK 894281
param set SYS_AUTOSTART 3000
param set MAV_TYPE 1

param set COM_FLTMODE1 8
param set COM_FLTMODE2 8
param set COM_FLTMODE3 8
param set COM_FLTMODE4 8
param set COM_FLTMODE5 8
param set COM_FLTMODE6 8
param set COM_RC_LOSS_T 15
param set CBRK_AIRSPD_CHK 162128
param set COM_DISARM_PRELT -1

# Multi-EKF
param set EKF2_MULTI_IMU 2
param set SENS_IMU_MODE 0
param set PWM_MAIN_RATE 200
param set PWM_AUX_RATE 10000
param set PWM_AUX_OUT  26
param set PWM_AUX_MAX2 10000
param set PWM_AUX_MAX6 10000
param set PWM_AUX_MIN2 0
param set PWM_AUX_MIN6 0
param set PWM_AUX_DIS2 0
param set PWM_AUX_DIS6 0

dataman start
load_mon start

spl06 -X -a 0x77 start
qmc5883l -X start
icm20602 -s -m 0 start

rc_update start
sensors start
commander start
navigator start
ekf2 start
#land_detector start multicopter
#mc_hover_thrust_estimator start
flight_mode_manager start
manual_control start
fw_att_control start

#mavlink start -x -d /dev/ttyS1
mavlink start -u 14556

rc_input start -d /dev/ttyS1
fpga_pwm_out -s -m 0 -p 4 start
mixer load /dev/pwm_output0 etc/mixers/my_wing.main.mix
logger start -t -b 200

mavlink boot_complete
